@import 'react-table/react-table.css';

.ReactTable .pagination-bottom,
.ReactTable .pagination-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ReactTable .-pagination {
  box-shadow: 0 0 0 0;
  border-top: 0;
}

.card .card-body .ReactTable .btn {
  margin-top: 1rem;
  margin-left: 0;
}

.ReactTable {
  border: none;
}

.ReactTable .rt-table {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 0;
}

.ReactTable .-pagination .-pageSizeOptions {
  margin: 8px 10px;
}

.ReactTable .-pagination .-center {
  flex: 1.5;
  text-align: center;
  align-items: flex-start;
}

.ReactTable select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  background-image: none !important;
}

.ReactTable .btn.btn-default {
  background-color: transparent;
  color: #09798e;
  padding: 0.75rem 0.5rem;
}
