/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'react-wood-duck/dist/styles/application.scss';

.col-md-3 {
  padding-left: 0;
  word-break: break-all;
}

.react-bs-container-body {
  .userRow {
    word-break: break-all;
  }
}

.value-text-color {
  color: #adadad;
}

.resend-email-text {
  color: #c00000;
}

.btn {
  display: inline;
  font-size: 1.5rem;
  text-align: right;
}

.alert {
  padding: 15px;
}

.errorMessage-customizable {
  margin-top: 30px;
}

.resend-email-btn {
  .btn.btn-primary {
    background-color: #098e88;
    margin: 0.5rem auto;

    &.btn.btn-primary:hover {
      background-color: #077873;
    }

    &.btn.btn-primary:disabled {
      box-shadow: none;
      background-color: #c2d6d5;
    }
  }
}
